# Compilados Java
*.class

# Logs
*.log
*.tmp

# Diretórios de build
/target/
/out/
/build/

# Arquivos do Maven
/logs/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.project
.classpath
.settings/
bin/

# VSCode
.vscode/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Arquivos de testes
hs_err_pid*
test-output/
surefire-reports/

# Arquivos temporários
*.swp
*.bak
*.orig
*.rej

# Arquivos de cache
.mvn/
.cache/
target/
